

<app-header></app-header>

<app-details></app-details>

<!--The content below is only a placeholder and can be replaced.-->
<!-- <div  style="text-align:center;width:90%;margin-left:5%;margin-right:5%;position: relative;" > 
</div>  -->
<!-- <span class="sp" #sp >&#8659; </span><br>   

  <img src="src\assets\arrow.png" style="height:20px;" #sp> 

<div style="width:100%;height:150px;padding-left:5%;padding-right:5%;display:flex;margin-top: 50px;">
<div style="width:30%;height:50px;background-color: blueviolet;border-top-left-radius:25px;border-bottom-left-radius:25px;" (click)="onEvent($event)" ></div>
<div style="width:30%;height:50px;background-color: #ffa500" (click)="ondEvent($event)"></div> 
<div style="width:30%;height:50px;background-color: brown; border-top-right-radius:25px;border-bottom-right-radius:25px;" (click)="onddEvent($event)"></div>
</div>

<button (click)="onEvent($event)">Try Me
</button>

<p>x: {{clientX}}, y: {{clientY}}</p>
-->